.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2d3748; /* Dark background color similar to your image */
    color: white;
    width: 100%; /* Ensure footer spans full width */
    position: relative;
    left: 0;
    bottom: 0;
    
  }
  
  .footer-left {
    display: flex;
    align-items: center;
    margin-right:65%;
    margin-left: 100px;
  }
  
  .footer-logo {
    width: 150px; /* Adjust size as needed */
   margin-left: 200px;
  }
  
  /* .logo-text {
    font-size: 1.2em;
    font-weight: bold;
  } */
  
  .footer-center p {
  
    font-size: 1em;
    margin-left: -1000px;
    margin-top: 100px;
    
  }
  
  
  
  .social-icon {
    margin-left: 30px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    
  }
  
  .social-icon:hover {
    color: #d3d3d3; /* Lighten color on hover */
  }
  .right-gh{
    margin-right: 100px;
    display: flex;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-left, footer-right {
      margin-bottom: 10px;
    }
  
    .footer-logo {
      width: 40px;

    }
  }
  