/* Main navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2F3645; /* Dark semi-transparent background */
  box-shadow: 0 2px 4px #2F3645;
  border-radius: 40px;     /* Add this for rounded corners */
  margin: 0 auto;          /* Center the navbar horizontally */
  overflow: hidden; 
  position: absolute;
  top: 10%;   
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 10px;
}

.logo {
  height: 150px; /* Adjust based on logo size */
  margin-right: 180px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  gap: 1px;
}

.navbar-links li {
  margin: 0 30px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f8f8f7; /* Gold color on hover */
}

.navbar-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #939185; /* Semi-transparent button */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #aeaead; /* Gold on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.admin {
  background-color: #939185; /* Light gray button for Admin */
}

.user {
  background-color: #939185; /* Light gray button for User */
}

/* Adjustments for mobile view */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
  }

  .navbar-links {
      margin-top: 10px;
      flex-direction: column;
  }

  .navbar-buttons {
      margin-top: 10px;
      flex-direction: column;
  }
}
